name: Test

on:
  push:
    branches:
      - main
    pull_request:
      branches:
        - main
jobs:
  test:
    strategy:
      matrix:
        os: [windowslatest,macoslatest,ubuntulatest]
        go: ["1.17","1.18","1.19","1.20"]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setupgo@v2
        with:
          goversion:${{matrix.go}}
        
      - run: go test ./...
      - run: go test -bench . -benchmem
